/* Go to line 36 to add the flexbox to the navbar */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav > img {
  display: block;
  margin: auto;
  width: 200px;
}

.nav-link {
  color: #3d5656;
  font-size: 1.3rem;
  font-weight: 800;
  cursor: pointer;
}

.nav-link:hover {
  color: #68b984;
}

.nav-bar {
  list-style-type: none;
  background-color: #eaeaea;
  box-shadow: #00000017 0px 3px 6px;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.block {
  margin: auto;
}


.div-texto {
  margin-top: 2rem;
  }

p {
  
 text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  color: #3d5656; 
}

.div-texto2 {
  width: 50%;
 
  margin: auto;
  font-size: 1.2rem;
  font-weight: 800;
  color: #3d5656; 
  margin-top: 2rem;
  }
