/* Go to line 36 to add the flexbox to the navbar */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav > img {
  margin: auto;
  display: block;
  width: 200px;
}

.nav-link {
  color: #3d5656;
  font-size: 1.3rem;
  font-weight: 800;
  cursor: pointer;
}

.nav-link:hover {
  color: #68b984;
}

.nav-bar {
  list-style-type: none;
  background-color: #eaeaea;
  box-shadow: #00000017 0px 3px 6px;
  padding: 40px 20px;

  /* Add the flexbox here */
}
