/* Go to line 36 to add the flexbox to the navbar */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav > img {
  display: block;
  margin: auto;
  width: 200px;
}

.nav-link {
  color: #3d5656;
  font-size: 1.3rem;
  font-weight: 800;
  cursor: pointer;
}

.nav-link:hover {
  color: #68b984;
  transform: scale(1.2, 3);
}

.nav-bar {
  list-style-type: none;
  background-color: #eaeaea;
  box-shadow: #00000017 0px 3px 6px;
  padding: 40px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.block {
  margin: auto;
}


.div-texto {
  margin-top: 2rem;
  }

  .div-texto > p {
  
    text-align: center;
     font-size: 1.2rem;
     font-weight: 800;
     color: #3d5656; 
   }

.div-texto2 {
  width: 60%;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 800;
  color: #3d5656; 
  margin-top: 2rem;
  }

  .div-texto2 > p {
   color: #0db3b3; 
   }
.ul-img {
  display:flex;
  flex-flow: row wrap;
}



.footer {
  list-style-type: none;
  background-color: #8f8b8b;
  box-shadow: #6b696917 0px 3px 6px;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: antiquewhite;
  
}
.articles-imgs:hover {
  transform: scale(3, 3);
}